<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 화면</title>
</head>
<body>
    <a th:href="@{/info}">글쓰기</a>

    <form action="/search" method="get">
        <input name="keyword" type="text" placeholder="검색어를 입력해주세요.">
        <button>검색</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="info: ${infoList}">
            <td>
                <span th:text="${info.getId()}"></span>
            </td>
            <td>
                <a th:href="@{'/info/'+${info.getId()}}">
                    <span th:text="${info.getName()}"></span>
                </a>
            </td>
            <td>
                <span th:text="${#temporals.format(info.getCreatedTime(), 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>